:root, [data-bs-theme=light] {
  --bs-primary: #4e188f;
  --bs-primary-rgb: 78,24,143;
  --bs-primary-text-emphasis: #1F0A39;
  --bs-primary-bg-subtle: #DCD1E9;
  --bs-primary-border-subtle: #B8A3D2;
  --bs-secondary: #8292fc;
  --bs-secondary-rgb: 130,146,252;
  --bs-secondary-text-emphasis: #343A65;
  --bs-secondary-bg-subtle: #E6E9FE;
  --bs-secondary-border-subtle: #CDD3FE;
  --bs-border-radius: 0px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4e188f;
  --bs-btn-border-color: #4e188f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #42147A;
  --bs-btn-hover-border-color: #3E1372;
  --bs-btn-focus-shadow-rgb: 228,220,238;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3E1372;
  --bs-btn-active-border-color: #3B126B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4e188f;
  --bs-btn-disabled-border-color: #4e188f;
}

.btn-outline-primary {
  --bs-btn-color: #4e188f;
  --bs-btn-border-color: #4e188f;
  --bs-btn-focus-shadow-rgb: 78,24,143;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4e188f;
  --bs-btn-hover-border-color: #4e188f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4e188f;
  --bs-btn-active-border-color: #4e188f;
  --bs-btn-disabled-color: #4e188f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4e188f;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8292fc;
  --bs-btn-border-color: #8292fc;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #95A2FC;
  --bs-btn-hover-border-color: #8F9DFC;
  --bs-btn-focus-shadow-rgb: 20,22,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #9BA8FD;
  --bs-btn-active-border-color: #8F9DFC;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8292fc;
  --bs-btn-disabled-border-color: #8292fc;
}

.btn-outline-secondary {
  --bs-btn-color: #8292fc;
  --bs-btn-border-color: #8292fc;
  --bs-btn-focus-shadow-rgb: 130,146,252;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8292fc;
  --bs-btn-hover-border-color: #8292fc;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8292fc;
  --bs-btn-active-border-color: #8292fc;
  --bs-btn-disabled-color: #8292fc;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8292fc;
}

[data-bs-theme=dark] {
  --bs-body-color: #ffffff;
  --bs-body-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(255,255,255,0.75);
  --bs-secondary-color-rgb: 255,255,255,0.75;
  --bs-tertiary-color: rgba(255,255,255,0.5);
  --bs-tertiary-color-rgb: 255,255,255,0.5;
  --bs-border-radius: 0px;
}

