@font-face {
	font-family: 'Uni Sans Heavy CAPS';
	src: url(../../assets/fonts/Uni%20Sans%20Heavy%20CAPS-69c0839e0b31490768eee070387f58f1.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}